- provide(:title, 'Log in')
%h1 Log in

.row
  .col-md-6.col-md-offset-3
    = form_with(url: login_path, scope: :session, local: true) do |f|
      = f.label User.human_attribute_name :email
      = f.email_field :email, class: 'form-control', id: 'auth_email'

      = f.label User.human_attribute_name :password
      = f.password_field :password, class: 'form-control', id: 'auth_password'

      = f.submit 'ログイン', class: 'btn btn-primary'
    %p
      New user?
      = link_to 'Sign up now!', signup_path
